@media only screen and (min-width: 768px) {
  main {
    flex-direction: row;
  }

  .card {
    margin: 35px -3px;
  }

  .card:first-child,
  .card:last-child {
    display: flex;
    z-index: -1;
  }

  .active {
    height: 630px;
    width: 370px;
  }
}